<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zitianqiong.mapper.CustomerAuthorityMapper">

    <resultMap id="BaseResultMap" type="pers.zitianqiong.domain.CustomerAuthority">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="customer_id" column="customer_id" jdbcType="INTEGER"/>
            <result property="authority_id" column="authority_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,authority_id
    </sql>
</mapper>
